<a href="https://colab.research.google.com/github/inoueshinji8/githubconnect/blob/main/gittest1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
print("hello")

hello

In [9]:
import pandas as pd
#https://github.com/inoueshinji8/githubconnect/blob/main/nutrition.csv
df = pd.read_csv('https://raw.githubusercontent.com/inoueshinji8/githubconnect/main/nutrition.csv')
#https://raw.githubusercontent.com/inoueshinji8/githubconnect/main/nutrition.csv
df

   1      egg  protain
0  2     rice   starch
1  3  spinach  vitamin

In [12]:
df1 = pd.read_csv('https://raw.githubusercontent.com/inoueshinji8/githubconnect/main/advoc.csv')

df1

    var  distprevac  distpostvac
0  ogig         1.0          0.5
1   alp         1.5          0.8
2   bet         1.2          1.2
3   del         2.5          1.5
4   lam         2.0          1.8